Django==1.7
Pillow==2.7.0
South==1.0.2
argparse==1.2.1
dj-database-url==0.3.0
django-classy-tags==0.6.1
django-cms==3.0.10
django-mptt==0.6.1
django-reversion==1.8.5
django-sekizai==0.8.1
django-treebeard==3.0
djangocms-admin-style==0.2.5
djangocms-column==1.5
djangocms-file==0.1
djangocms-flash==0.1
djangocms-googlemap==0.2
djangocms-inherit==0.1
-e git+https://github.com/nephila/djangocms-installer@6550979c30fb4d5239cac9cbf8092ace9d4afc36#egg=djangocms_installer-origin/develop
djangocms-link==1.5
djangocms-panel==1.0.0
djangocms-picture==0.1
djangocms-style==1.5
djangocms-teaser==0.1
djangocms-text-ckeditor==2.4.3
djangocms-video==0.1
html5lib==0.999
psycopg2==2.6
pytz==2014.10
requests==2.5.3
six==1.9.0
wsgiref==0.1.2
