{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
        <div class="col-md-3">
            <div id="list" class="panel panel-default">
                <!-- Default panel contents -->
                <div id="heading-wrap" class="panel-heading"><span class="glyphicon-heading glyphicon glyphicon-globe pull-left">&nbsp</span>
                    <div id="heading"><h5>Loading routes...</h5></div>
                </div>
                <div id="panel" class="panel-body"></div>
                <!-- List group -->
                <ul class="list-group"></ul>
            </div>
        </div>
        <div class="col-md-6">
            <div id="route-map" class="panel-body"></div>
        </div>
        <div class="col-md-3">
            <div id="detail-panel" class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <span class="glyphicon-heading glyphicon glyphicon-pushpin pull-left">&nbsp</span>
                    <div id="detail-heading"><h5>Select a route</h5></div>
                </div>
                <div id="detail-panel-body" class="panel-body">
                    <p><span class="image"></span></p>
                    <p><span class="description"></span></p>
                    <p><span><strong>Created: </strong></span><span class="created"></span></p>
                    <p><hr/></p>
                    <p><a class="download" href=""><button><span class="glyphicon glyphicon-download-alt"></span> Download GPX</button></a></p>
                    <p><a class="waypointlink" href=""><button><span class="glyphicon glyphicon-list"></span> List waypoints for this route</button></a></p>
                </div>
            </div>
        </div>
        </div>
    </div>
{% endblock %}
{% block comap_js %}
{{ block.super }}
    <script src="{% static "comap/js/routes.js" %}"></script>
{% endblock comap_js %}


